a:link{
  text-decoration:none;
}
.start{
  font-size: 180%;
}
.menu ul li{
  display:inline-block;
  position: relative;
  left: 80%
}

nav{
  outline: 1px solid red;
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
}
